<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666230956173-jifvu1fb3tq79ncvuhm3vkptm1jcdi05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666230956173-jifvu1fb3tq79ncvuhm3vkptm1jcdi05</string>
	<key>API_KEY</key>
	<string>AIzaSyDadDFlFqnzDtXkdS9ORAVkVF9UkZ45iis</string>
	<key>GCM_SENDER_ID</key>
	<string>666230956173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.building.iosikranmanagerapp</string>
	<key>PROJECT_ID</key>
	<string>ikran-d359c</string>
	<key>STORAGE_BUCKET</key>
	<string>ikran-d359c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666230956173:ios:b851101859d33e3c7342c4</string>
</dict>
</plist>